
<div [hidden]="submitted">
<h1>Student survey</h1>
  <form (ngSubmit)="onSubmit()" autocomplete="on" #myForm="ngForm">
    <p> Note: The fields marked with asterik (<span class="required-asterisk">*</span> ) are required fields. The submit button is disabled until those fields are filled</p>

    <div class="form-group">
      <label for="name">First name<span class="required-asterisk">*</span>
      </label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="student.name" name="name">
    </div>

     <div class="form-group">
        <label for="lastname">Last name<span class="required-asterisk">*</span></label>
        <input type="text" class="form-control" id="lastname" required [(ngModel)]="student.lastname" name="lastname">
        <div class="alert alert-primary" role="alert">
          
        </div>
      
      </div>

      <div class="form-group">
        <label for="address">Address<span class="required-asterisk">*</span></label>
        <input type="text" class="form-control" id="address" required [(ngModel)]="student.address" name="address">
      </div>

      <div class="form-group">
        <label for="city">City<span class="required-asterisk">*</span></label>
        <input type="text" class="form-control" id="city" required [(ngModel)]="student.city" name="city">
      </div>

      <div class="form-group">
        <label for="state">State<span class="required-asterisk">*</span></label>
        <input type="text" class="form-control" id="state" required [(ngModel)]="student.state" name="state">
      </div>

      <div class="form-group">
        <label for="zip">Zip<span class="required-asterisk">*</span></label>
        <input type="text" class="form-control" id="zip" required [(ngModel)]="student.zip" name="zip">
      </div>

      <div class="form-group">
        <label for="phone">Phone number<span class="required-asterisk">*</span></label>
        <input type="text" class="form-control" id="phone" required [(ngModel)]="student.phone" name="phone">
      </div>

      
      <div class="form-group">
        <label for="email">Email<span class="required-asterisk">*</span></label>
        <input type="email" class="form-control" id="email" required [(ngModel)]="student.email" name="email">
      </div>


      <div class="form-group">
        <label for="dos">Submission date<span class="required-asterisk">*</span></label>
        <input type="date" class="form-control" id="dos" required [(ngModel)]="student.dos" name="dos">
      </div>

    
      <div class="form-group">
        <label for ="about_college">What did you like the most about this college?</label>
        <div class="form-check">
        <input class="form-check-input" type="checkbox" name="about_college"
       value="students" id="defaultCheck1" (change)="onCheckboxChange($event, 'Students')">
        <label class="form-check-label">Students
        </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="checkbox" name="about_college"
       value="location" id="defaultCheck1" (change)="onCheckboxChange($event, 'Location')">
       <label class="form-check-label">Location
        </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="checkbox"name="about_college"
       value="campus" id="defaultCheck1" (change)="onCheckboxChange($event, 'Campus')">
        <label class="form-check-label">Campus</label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="checkbox" name="about_college"
       value="atmosphere "id="defaultCheck1" (change)="onCheckboxChange($event, 'Atmosphere')">
        <label class="form-check-label">Atmosphere</label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="checkbox" name="about_college" value="dorm room" id="defaultCheck1" 
        (change)="onCheckboxChange($event, 'Dorm Rooms')">
        <label class="form-check-label">Dorm Rooms</label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="checkbox" name="about_college"
       value="sports" id="defaultCheck1" (change)="onCheckboxChange($event, 'Sports')">
        <label class="form-check-label">Sports</label>
        </div>
        </div>

    <div class="form-group">
        <label>How did you become interested in the university?</label>
        <div class="radio">
        <label><input type="radio" name="interested" value="Friends" [(ngModel)]="student.interested">Friends</label>
        </div>
        <div class="radio">
        <label><input type="radio" name="interested" value="Television" [(ngModel)]="student.interested">Television</label>
        </div>
        <div class="radio">
        <label><input type="radio" name="interested" value="Internet" [(ngModel)]="student.interested">Internet</label>
        </div>
        <div class="radio">
        <label><input type="radio" name="interested" value="Other" [(ngModel)]="student.interested">Other</label>
        </div>
    </div>

    <div class="form-group">
      <label for="data">Data<span class="required-asterisk">*</span>
      </label>
      <input type="text" class="form-control" id="data" required [(ngModel)]="d.data" name="data">
      {{d.getmean()}}
    </div>

    <div class="form-group">
    <label for="month">Likelihood of you recommending this school to other prospective students</label>
    <select class="form-control" id="recommend" [(ngModel)]="student.recommend" name ="recommend" >
    <option value="Very Likely">Very Likely</option>
    <option value="Likely">Likely</option>
    <option value="Unlikely">Unlikely</option>
     </select>
    </div> 
        
    <button type="submit" class="btn btn-success" [disabled]="!myForm.form.valid">Submit</button>
    <button type="cancel" class="btn btn-success">Cancel</button>
  </form>
  </div>

<div [hidden]="!submitted">
  <h4>Submission received!</h4>
</div> 

